dist
# dev-specific path to virtualenv, useful for the pyright language server
# unless you are using VS Code which handles it for you.
pyrightconfig.json

# binary output
python/_convex/_convex.*.so

target/
